footer {
  width:500px;
  margin-left:auto;
  margin-right:auto;
}

.layer i {
  font-size:30px;
  line-height:30px;
  font-style:normal;
  display:none;
}
.layer .top-half i {
  display:block;
  position:absolute;
  left:15px;
  top:15px;
}


.departures {
  width: 100%;
}

footer p {
  line-height:25px;
}