
@charset "UTF-8";

@font-face
{
	font-family: cursive;
	src: url(fonts/SCRIPTCO.TTF);
}

*{
	margin: 0; 
	padding: 0 ;
}

body{
	font-family: cursive ;
	font-size: 30px ;

	max-width: 90% ;
	margin: auto;

}

/*-------------------------------------*/

#circle
{
	width: 800px;
	height: 800px;
	border-radius: 1000px;
	background-color: #b0dce7 ;

	margin: auto ;
	margin-top: -690px;
}

#date
{
	text-align: center ;
	max-width: 500px ;
	margin: auto ;
	margin-top: -100px ;
	margin-bottom: 90px ;
	opacity: 0.7 ;
}

.left
{
	float: left ;
}

.right
{
	float: right ;
}

#morale
{
	font-size: 160% ;
	line-height: 70px;
	margin-left: 15px ;

}

#morale:before
{
	content: '"' ;
}

#morale:after
{
	content: '"';
}

#author
{
	text-align: right; 
	font-size: 90% ;
	margin-left: 100px ;
}

#switch
{
	font-size: 50% ;
	position: fixed;
	bottom: 0 ;
	left: 0;

	padding: 15px ;
	background-color: #b0dce7 ;

	border-radius: 0 10px 0 0 ;

	opacity: 0.7 ;
}

a:active, a:visited, a
{
	color: black;
}