*{
    margin:0;
    padding:0;
}

body {
    font:14px/1.3 Arial,sans-serif;
}

	
.container {
    color:#000;
    margin: auto;
    position:relative;
    width:350px;
}

.column1 {
    float:left;
    width:240px;
}
 
.column2 {
    float:left;
    width:80px;
}

#panel {
    cursor:crosshair;
}

#swImage {
    cursor:pointer;
    height:25px;
    line-height:25px;

    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

#swImage:hover {
    margin-left:2px;
}

#preview {
    border:1px #000 solid;
    height:200px;
    width:80px;

    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
	-khtml-border-radius:3px;
}
