html {
    background-color: transparent;
    height: 100%;
}
body {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    overflow: hidden;
    margin: 0;
    height: 100%;
    background-color: transparent;
}
body.view {
    margin: 59px 0 0 0;
}
body.view:after,
body.view:before{
    content: "\00a0"; /* No-break space character */
    display: block;
    overflow: hidden;
    height: 0;
}
.rteditor {
    padding: 8px;
    overflow: hidden;
    height: 100%;
}
.rteditor p {
    margin: 0;
}
.rteditor table {
    border-collapse: collapse;
}
.rteditor table td,
.rteditor table th {
    min-width: 36px;
}
.rteditor table,
.rteditor table td,
.rteditor table th,
.rteditor table caption {
    border: 1px solid #bbb;
}

.rteditor.dark {
    color: #ffffff;
}
.rteditor.dark table,
.rteditor.dark table td,
.rteditor.dark table th,
.rteditor.dark table caption {
    color: #444444;
}