html {
    background-color: transparent;
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    overflow: hidden;
    margin: 0;
    height: 100%;
    background-color: transparent;
}
body.view {
    margin: 59px 0 0 0;
}
body.view:after,
body.view:before{
    content: "\00a0"; /* No-break space character */
    display: block;
    overflow: hidden;
    height: 0;
}
.rteditor {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin-top: 59px;
    box-sizing:border-box;
    word-break:break-all;
    padding: 8px;
    overflow: hidden;
}
.rteditor p {
    margin: 0;
}
.rteditor table {
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}
.rteditor table td,
.rteditor table th {
    min-width: 36px;
}
.rteditor table,
.rteditor table td,
.rteditor table th,
.rteditor table caption {
    border: 1px solid #bbb;
}

.rteditor.dark {
    color: #ffffff;
}
.rteditor.dark table,
.rteditor.dark table td,
.rteditor.dark table th,
.rteditor.dark table caption {
    border: 1px solid #444444;
}