@font-face
{
	font-family: cursive;
}

*{
	margin: 0; 
	padding: 0 ;
}

body{
	font-family: cursive ;
	font-size: 45px ;

	text-align: center ;
}

/*-------------------------------------*/


#jour
{
	font-size: 400% ;
}

#date, .arrow
{
	background-color: #b0dce7;
	border-radius: 1000px;
}

#date
{
	height: 400px;
	width: 400px ;
	margin: auto ;
}

#date :first-child
{
	font-size: 200% ;
	max-height: 250px ;
	overflow: hidden;
}

#date :last-child
{
	font-size: 120% ;
}

/*-------------------------------------*/

.arrow
{
	display: inline-block; 
	padding: 10px ;
	margin: 190px 20px 0px 20px ;
}

.left
{
	float: left ;
	font-size: 40% ;
}

.right
{
	float: right ;
	font-size: 40% ;
}
